@{
    ViewData["Title"] = "Dziękujemy!";
}

<h2>Dziękujemy za kontakt!</h2>
<p>Twoja wiadomość została zapisana. Skontaktujemy się z Tobą najszybciej, jak to możliwe.</p>
<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Powrót do strony głównej</a>
</p>
