@model ZaliczeniowyProjekt.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Rejestracja";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Register" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Twój e-mail" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Wybierz hasło" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Powtórz hasło" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Zarejestruj</button>
            <a asp-action="Login" class="btn btn-link">Mam już konto, zaloguj mnie</a>
        </form>
    </div>
</div>
